<title>{{title}}</title>


<div class="header">
  <img class="background" src="../assets/Subtraction%2014.svg" alt="background" width="100%">
  <img class="logo_img" src="../assets/Group%20215.svg" alt="logo" width="41.86%">
  <img routerLink="/signup" class="back_button" src="../assets/Icon%20ionic-ios-arrow-round-back.svg" alt="back">
</div>

<div class="header_2">
  Add Property
</div>

<div class="body_1">
  You haven't added any properties yet.!!
</div>

<div class="body_2" style="margin: 10px 0 90px 0">
  Please Add New Properties to continue
</div>

<div style="display: flex;justify-content: center">
  <button class="app_property" type="button" (click)="continue()">
    <span class="app_property_text">+ Add Property</span>
  </button>
</div>

<div style="font: italic normal normal 12px/16px Roboto;color: #6A63AC;margin: 24px 0 103px 0;text-align: center">
  <span routerLink="/dashboard/owner" style="cursor: pointer">Skip for now, I am just exploring</span>
</div>


<div class="footer">
  <img class="footer_img" src="../assets/Subtraction%2016.svg" alt="footer">
</div>
