.header{
  .background{
    @media only screen and (min-width: 768px){
      max-width: 768px;
      margin-left: calc(50vw - 768px/2);
    }
  }
  .logo_img{
    position: absolute;
    left: calc(50vw - 41.86%/2);
    top: 16.8vw;
    max-width: 157px;
    @media only screen and (min-width: 375px){
      left: calc(50vw - 157px/2);
      top: 63px;
    }
  }
  .back_button{
    padding: 16px;
    cursor: pointer;
    position: absolute;
    top: 32px;
    left: 16px;
    @media only screen and (min-width: 768px){
      left: calc(50vw - 768px/2 + 16px);
    }
  }
  margin-bottom: 32px;
}

.hello_text{
  text-align: center;
  font: normal normal bold 32px/19px Roboto;
  color: #6A63AC;
  margin-bottom: 8px;
}

.first_name,.last_name,.pass,.re_pass{
  padding: 14.5px 24px;
  background: #FFFFFF4D 0 0 no-repeat padding-box;
  border: 1px solid #6A63AC;
  border-radius: 26px;
  width: 80vw;
  max-width: 300px;
  height: 50px;
  margin-top: 16px;
  outline: 0;
}

.required_field{
  color: red;
  font-size: small;
  display: flex;
  justify-content: flex-end;
  margin-right: max(20vw,calc(50vw - 155px));
}

.continue{
  margin-top: 14px;
  cursor: pointer;
  background: #F8A9D3 0 0 no-repeat padding-box;
  width: 80vw;
  max-width: 300px;
  height: 50px;
  border-radius: 26px;
  border: 0;
  margin-bottom: 10px;
}

.footer{
  .footer_img{
    width: 58.9333vw;
    margin-left: calc(50vw - 58.9333%/2);
    @media only screen and (min-width: 768px){
      max-width: 452.608px;
      margin-left: calc(50vw - 452.608px/2);
    }
  }
}


.type_owner{
  padding: 14.5px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #FFFFFF4D 0 0 no-repeat padding-box;
  border: 1px solid #6A63AC;
  border-radius: 26px;
  width: 80vw;
  max-width: 300px;
  height: 50px;
  margin-bottom: 16px;
  .user_type{
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border: 1px solid #F8A9D3;
  }
}
